body {
    background: #D6E6F2;
}

/* header {
    background: rgb(75, 177, 177);
} */

img {
    width: auto;
    height: 200px;
}

.wrapper {
    margin-inline: auto;   /* makes the wrapper centered by checking l&r */
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.grids {
    --grid-min-col-size: 250px;

    display: grid;
    gap: 2rem;
    grid-template-columns: /* fits as many projects with a min size of 250px or whatever fills up the page */
        repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), auto));
    /* auto-fill instead keeps the min size and leaves the extra project space (good if you want to keep the same size for each project regardless */
    /* https://www.youtube.com/watch?v=bj0Z_GncIwY */
}

/* Does an action based on a certain "media inquiry"*/
@media (min-width: 760px) {
    
}

/* Navigation system */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu */
.topnav #myLinks {
    display: none;
}

/* Style navigational menu links */
.topnav a {
    color: #F7FBFC;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey bg color on mouse-over */
.topnav a:hover {
    background-color: #B9D7EA;
    color: black;
}

/* Style the active link */
.active {
    background-color: #769FCD;
    color: white;
}