:root {
  --tussock: #ca9553;
  --kilamanjaro: #271003;
  --spicy-mix: #78493f;
  --pearl-bush: #e1dac9;
  --slate-gray: #6b8694;
  --biscay: #1a426a;
  --red-stage: #d65303;
}

/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--pearl-bush);
}

main {
    padding: 1rem;
}

img {
    width: auto;
    height: 200px;
}

.wrapper {
    margin-inline: auto;   /* makes the wrapper centered by checking l&r */
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.grids {
    --grid-min-col-size: 250px;

    display: grid;
    gap: 2rem;
    grid-template-columns: /* fits as many projects with a min size of 250px or whatever fills up the page */
        repeat(auto-fit, minmax(min(var(--grid-min-col-size), 100%), auto));
    /* auto-fill instead keeps the min size and leaves the extra project space (good if you want to keep the same size for each project regardless */
    /* https://www.youtube.com/watch?v=bj0Z_GncIwY */
}

/* Does an action based on a certain "media inquiry"
@media (min-width: 760px) {
    
} */


/* Adjust body content to not go under fixed header */
body {
    padding-top: 50px; /* Adjust based on header height */
    color: var(--kilamanjaro)
}


.top-header {
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--biscay);
    color: white;
    z-index: 1001;
}

.header-content {
    display: flex;
    justify-content: space-between; /* left and right spacing */
    padding: 14px 20px;
}

.site-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--pearl-bush);
}

/* Navigation system */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.ham {
    font-size: 25px;
    cursor: pointer;
    color: var(--pearl-bush);
    background: none;
    border: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--pearl-bush);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* FOOTER */